# Node modules and build files
node_modules/
dist/
.vite/
scripts

# Python/Django files
backend/__pycache__/
backend/db.sqlite3
backend/.env

backend/secrets/
# Service account JSONs and other secrets. Keep out of VCS.
venv/

# VS Code and OS-specific files
.vscode/
.DS_Store
