# Add packages required by the Django backend
Django
djangorestframework
djangorestframework-simplejwt
channels
channels-redis
daphne
pandas
openpyxl
psycopg2-binary
python-dotenv
weasyprint
reportlab
