@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

.label {
	@apply block text-xs font-medium text-gray-500 mb-1;
}

.input {
	@apply w-full rounded-md border px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500;
}
